.weather {
  max-width: 720px;
  margin: 0 auto;
  background: #f7f7f7;
  border-radius: 16px;
  box-shadow: 0 30px 50px #41326414;
  color: #878787;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
}
.weather h1 {
  margin-top: 20px;
}
.weather ul {
  margin: 0 40px 0 0;
  padding: 0;
}
.weather canvas {
  display: inline-block;
  line-height: 64px;
  height: 64px;
  width: 64px;
  margin-right: 5px;
}
.weather .search-input {
  display: inline-block;
  background: #f9f7fe;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #272727;
  font-size: 1rem;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}
.weather img {
  margin-top: -35px;
  margin-right: 5px;
}
.weather .temperature {
  font-size: 4rem;
  font-weight: bold;
  line-height: 64px;
  color: rgb(33, 33, 33);
}
.weather .unit {
  font-size: 1.5rem;
  position: relative;
  top: -32px;
  margin-left: 3px;
  line-height: 1;
  color: rgb(33, 33, 33);
}
.weather .btn {
  border: none;
  font-family: 1rem;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
  line-height: 20px;
}
/* media querey for fully responsiveness */
@media (max-width: 768px) {
  .input.btn.btn-primary {
    padding: 0;
    width: 90px !important;
  }
}
